.book-card-link {
  text-decoration: none; /* Remove underline from link */
  color: inherit; /* Inherit text color to maintain styles */
}

.book-card {
  border: 6px solid firebrick;
  border-radius: 4px;
  padding: 12px;
  margin: 8px;
  width: 300px; 
  display: flex;
  background-color: #f5deb3;
  cursor: pointer;
}

.book-card .left {
  flex: 1; 
}

.book-card .right {
  flex: 1; 
}

.book-card .left .book-cover {
  height: 150px;
  width: 150px;
}

.book-card h2 {
  font-size: 14px;
  margin-bottom: 8px;
}

.book-card p {
  font-size: 12px;
  margin-bottom: 8px;
}

.book-card strong {
  font-weight: bold;
}

.book-card .button-details {
  background-color: firebrick;
  color: #f5deb3;
  padding: 4px 8px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  text-align: center;
  width: 100%; 
}

.book-card .button-details:hover {
  transition: color 0.5s;
  background-color: firebrick;
  color: white;
}