.book-wish-list {
    margin-top: 20px;
    width: 50%;
  }
  
  .wishlist-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    width: 100%;
  }
  
  .book-wishes {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }
  
  .back-to-profile {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    width: 100%;
  }