.book-page {
  display: flex;
  justify-content: space-between;
  max-width: 100%;
  margin: 50px auto;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f5deb3; /* Background color for consistency */
  background-image: url('../images/background/other.jpg');
}

.book-page .sidebar2 {
  flex: 0 0 150px;
  padding: 20px;
  border-right: 1px solid #ddd; /* Add a right border to separate sidebar */
  display: flex;
  flex-direction: column;
}

.book-page .current-values,
.book-page .add-to-list,
.book-page .download-section {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border-bottom: 1px solid #ddd; /* Add a bottom border for separation */
}

.book-page .review-button,
.book-page .add-button,
.book-page .download-button {
  background-color: firebrick;
  color: #f5deb3;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.book-page .review-button:hover,
.book-page .add-button:hover,
.book-page .download-button:hover {
  background-color: darkred; /* Darken button on hover */
  color: white;
}

.book-page .orange-block {
  width: 180px;
  min-height: 100px;
  background-color: orange;
  margin-bottom: 15px;
  border-radius: 8px; 
  display: flex;
  align-items: center;
  justify-content: center;
}

.book-page .book-cover {
  max-width: 180px; 
  max-height: 280px; 
  border-radius: 8px; 
}

.book-page .book-container {
  padding: 15px;
  text-align: left;
  flex-grow: 1; /* Allow container to take the remaining width */
}

.book-page .comment-section {
  margin-top: 20px; 
  padding: 20px;
  border-top: 2px solid #ccc; 
}

.book-page .comment-section button {
  background-color: firebrick;
  color: #f5deb3;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
}

.book-page .comment-section button:hover {
  background-color: darkred; /* Darken button on hover */
  color: white;
}

.book-page #commentText {
  max-width: 600px;
  max-height: 600px;
  border-radius: 8px;
}

.book-page .rate-button,
.book-page .review-button {
  background-color: firebrick;
  color: #f5deb3;
  padding: 10px;
  margin-bottom: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.book-page .review-list-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-page .review-list-container {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
}

.author-link {
  color: firebrick;
  text-decoration: none;
  transition: color 0.3s;
}

.author-link:hover {
  color: burlywood; /* Change link color on hover */
}