.page-container {
  display: flex;
  justify-content: center; 
  align-items: center;
  height: 100vh; 
}

.category-list {
  width: 100%; /* Take the full width of its parent container */
  background-color: #f5deb3;
  border: 3px solid firebrick;
  border-radius: 8px;
  margin-bottom: 20px; /* Add space between the categories if needed */
  display: flex;
  flex-direction: column; /* Align children of category-list vertically */
  background-image: url('../images/background/other2.jpg');
}

.category-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.category-content {
  display: flex;
  align-items: center;
  justify-content: space-between; /* This ensures that the buttons and books are spaced out */
}

.book-cards-container {
  display: flex;
  flex-grow: 1;
  justify-content: flex-start; /* Aligns the books to the start */
  overflow-x: hidden;
  flex-direction: row;
}

.book-cards-container-next {
  display: flex;
  flex-grow: 1;
  overflow-x: hidden;
  flex-direction: row;
}

.book-cards-container-prev {
  display: flex;
  flex-grow: 1;
  overflow-x: hidden;
  flex-direction: row;
}

.category-button {
  background-color: firebrick;
  color: #f5deb3;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.category-button:hover {
  color: #ecf0f1;
}

.page-container .navigation-buttons {
  display: flex;
  margin-top: 10px;
  margin-right: 10px;
}

.page-container  .category-button {
  background-color: firebrick;
  color: #f5deb3;
  padding: 6px 12px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0 3px; 
}

.page-container .category-button:hover {
  color:#ecf0f1;
}