.navbar {
  background-color: #f5deb3;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  background-image: url('../images/background/other2.jpg');
}

.navbar .nav-left {
  display: flex;
  align-items: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar .nav-home-icon {
  height: 48px;  /* Adjust height to match your other buttons */
  width: auto;  /* Maintain aspect ratio */
}

.navbar ul li {
  margin-right: 10px; /* Existing spacing */
  display: flex;
  align-items: center; /* Vertically center the content */
  justify-content: center; /* Horizontally center the content */
}

.navbar ul li:last-child {
  margin-right: 0; /* No margin on the last item */
}

.navbar .nav-right {
  display: flex;
  align-items: center;
}

.navbar .search-bar {
  position: relative;
}

.navbar input {
  width: 300px;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Default styles for all buttons and links */
.navbar li, .navbar button {
  background-color: firebrick;
  color: #f5deb3;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  padding: 10px 20px;  /* Default padding for all except home icon */
}

/* Specific override for the Home button to have transparent background */


.navbar li.home-icon {
  background-color: transparent;  /* Transparent background */
  padding: 0;  /* No padding */
}

.navbar li.home-icon a {
  background-color: transparent;  /* Ensuring the link within the li also has no background */
  padding: 0;  /* No padding */
  display: flex;  /* To help vertically and horizontally align the image */
  align-items: center;
  justify-content: center;
}

.navbar li a, .navbar button {
  text-decoration: none;
  color: white;  /* Ensures text color is white for all */
}

.navbar .login-btn {
  background-color: #deb887; /* Light brown color */
}

.navbar .register-btn {
  background-color: #0376b8; /* Blue color */
}