.navbar {
  background-color: #f5deb3;
  padding: 10px 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  background-image: url('../images/background/other2.jpg');
}

.navbar .nav-left {
  display: flex;
  align-items: center;
}

.navbar ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
}


.navbar .nav-right {
  display: flex;
  align-items: center;
}

.navbar .search-bar {
  position: relative;
}

.navbar input {
  width: 300px; 
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.navbar li,
.navbar button {
  background-color: firebrick;
  color: #f5deb3;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: white;
}

.navbar li a,
.navbar button {
  text-decoration: none;
  color: white
}