.search-bar {
  position: relative;
}

.search-bar input {
  width: 300px; 
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.search-bar select {
  appearance: none;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: firebrick;
  color: #f5deb3;
  cursor: pointer;
}

.search-bar .search-results {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.search-bar .search-results ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.search-bar li {
  padding: 8px;
  cursor: pointer;
  border-bottom: 1px solid #ddd; 
  background-color: white;
}

.search-bar p {
  padding: 8px;
  margin: 0;
}