.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5deb3;
  height: 100vh;
  width: 300px; /* Ensure the width matches the sidebar width */
  padding: 20px;
}

.sidebar1 {
  position: fixed;
  top: 0;
  right: 0; /* Position on the right */
  height: 100vh;
  background-color: #f5deb3;
  z-index: 1000;
  width: 300px; /* This should be consistent with the width in '.container' */
  box-shadow: -2px 0 8px rgba(0,0,0,0.1); /* Shadow on the left side */
}

.sidebar-links a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.3s, transform 0.3s;
}

.sidebar-links a:hover {
  color: #007bff;
  transform: scale(1.05);
}

.btn-container button {
  background-color: firebrick;
  color: #f5deb3;
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
  cursor: pointer;
}

.btn-container button:hover {
  background-color: #c24e4e; /* Slightly lighter red on hover */
}